body{
    background-color: palevioletred
}

.logo{
    background-color: aliceblue;
    height: 30px;
}
.loginGoogle{
    display: flex;
    padding-left: 15px;
    border-radius: 100px;

}

h4{
    margin-top: 10px;
    margin-bottom: 1px;
    width: 200px;
}