body{
   background-color: burlywood;
}
.nota{
    height: 100px;
    position: fixed;
    border-radius: 300px;
}
.nombreLabNotes{
    margin-left: 70px;
    color: salmon;
    font-family: cursive;
}

.titulo{
    margin-left: 10px;
    font-size: smaller;
    font-family: cursive;
    color: turquoise;
}
.container{
    color: #9daef5;
     font-size: smaller;
     font-family: cursive;
}
.signo{
    height: 50px;
}
.signo2{
    height: 30px;
}
.inicio{
    background-color: black;
    width : 90%;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    box-shadow: 1px 1px 15px 15px azure;
    display: grid;
    margin-bottom: 50px;
    margin-top: 60px;
    padding-bottom: 20px;
}
.logo{
    height: 22px;
    margin-top: auto;
    margin-right: 5px;
}
.loginGoogle{
  display: flex;;
  box-shadow: 1px 1px 5px 5px azure;
/* Crear degradados */
  background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
/* Dar bordes curvados a btn */
  border-radius: 28px;
  text-shadow: 3px 2px 1px #9daef5;
  font-family: cursive;
  margin-left: 7px;
  padding-left: 20px;
  margin-right: 20px;
}
/* Al poner el curso encima (hover) */
.loginGoogle:hover {
  background: #2079b0;
  background-image: -webkit-linear-gradient(top, #2079b0, #eb94d0);
  background-image: -moz-linear-gradient(top, #2079b0, #eb94d0);
  background-image: -ms-linear-gradient(top, #2079b0, #eb94d0);
  background-image: -o-linear-gradient(top, #2079b0, #eb94d0);
  background-image: linear-gradient(to bottom, #2079b0, #eb94d0);
  text-decoration: none;
   
}


h4{
    margin-top: 10px;
    margin-bottom: 1px;
    width: 200px;
    font-size: medium;
}

.botonGoogle{
    padding-top: 20px;
    margin-left: 0px;
    padding-bottom: 10px;
}

h3{
    color: darkturquoise;
    font-family:cursive;
    font-size: small;
}

.emogi{
    width: 20px;
}

footer{
    color: black;
    text-shadow: 1px 1px black;
}

/* estilos block de notas */
.position{
    background-color: black;
}
.titulo-blockNotas{
    color: salmon;
    FONT-SIZE: xx-large;
    font-family: cursive;

}

.fa-solid,.fas{
    margin-left: 200px;
    color: white;

}

.name-container{
    font-family: cursive;
    color:#9daef5;
    font-size: larger;

}

#title-note{
    margin-left: 100px;
    width: 190px;
    background-color: lightseagreen;
    font-size: large;
    font-family: cursive;
    color: white;
    border-radius: 10px;
    border-color: aquamarine;
    box-shadow: 1px 1px 15px;

}

#note-description{
    margin-left: 100px;
    width: 192px;
    height: 10vh;
    background-color: lightseagreen;
    font-size: smaller;
    font-family: cursive;
    color: white;
    border-radius: 10px;
    border-color: aquamarine;
    box-shadow: 1px 1px 15px;
}

.btn-note-save{
    margin-left: 150px;
    color: white;
    margin-left: 250px;
    background-color: lightseagreen;
    font-family: cursive;
}

h2{
    color: salmon;
    margin: auto;
    font-family: cursive;
}
.signoN{
    width: 30px;
}
.titleList{
    margin-left: 100px;
    width: 190px;
    height: 20px;
    background-color: lightseagreen;
    font-size: large;
    font-family: cursive;
    color: white;
    border-radius: 10px;
    border-color: aquamarine;
    box-shadow: 1px 1px 15px;
}

.noteList{
    margin-left: 100px;
    width: 192px;
    height: 20vh;
    background-color: lightseagreen;
    font-size: smaller;
    font-family: cursive;
    color: white;
    border-radius: 10px;
    border-color: aquamarine;
    box-shadow: 1px 1px 15px;
}

.btns-post-container{
    display: flex;
    margin-left: 90px;
    justify-content: space-around;
}
.btn-edit{
    color: white;
    background-color: lightseagreen;
    font-family: cursive;

}
.btn-guardar{
    color: white;
    background-color: lightseagreen;
    font-family: cursive;
}
.btn-delete{
    color: white;
    background-color: lightseagreen;
    font-family: cursive;
}

@media screen and (min-width:767px){
     .nota{
         height: 300px;
     }
     .nombreLabNotes{
         margin-left: 200px;
         font-size: -webkit-xxx-large;
     }
     
     .titulo{
         margin-left: 200px;
         font-size: larger;
     }
     .container{
         margin-left: 200px;
         font-size: x-large;
     }
     .signo{
         height: 80px;
     }
     .signo2{
         height: 50px;
     }
     .inicio{
         padding-bottom: 120px;
         margin-top: 30px;
     }
     .logo{
         height: 30px;
     }
     .loginGoogle{
        box-shadow: 1px 1px 15px 15px#666666;
       font-size: 27px;
       padding: 19px;
     }     
     h4{
        width: 300px;
        font-size: 24px;
     }
     
     .botonGoogle{
         padding-top: 50px;
         margin-left: 200px;
     }
     
     h3{
       
         font-size: larger;
         margin-inline-start: auto;
     }
     
     .emogi{
         width: 70px;
     }
     /* estilos block de notas */

     .titulo-blockNotas{
        font-size:-webkit-xxx-large;
    } ;
    
    .cerrar{
        margin-left: 500px;
    
    }
    .name-container{
        font-size: xx-large;
    }
   #text-container{
       display: grid;
   }

   .div-notes-container{
       display: grid;
   }

    h2{
        font-size: xx-large;
    }
    .signoN{
        width: 50px;
    }
    /* .titleList{
        
    }
    
    .noteList{
        
    }
    
    .btns-post-container{
     
    }
    .btn-edit{
      
    
    }
    .btn-guardar{
        
    }
    .btn-delete{
        
    } */

}